@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Montserrat font face */
@font-face {
  font-family: 'Montserrat';
  src: url('../public/Montserrat-Light.ttf') format('truetype'); /* Replace with the correct path to the Montserrat regular font file */
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Montserrat-Bold.ttf') format('truetype'); /* Replace with the correct path to the Montserrat bold font file */
  font-weight: bold;
}

/* Define the Garamond font face */
@font-face {
  font-family: 'Garamond';
  src: url('../public/EBGaramond-Regular.ttf') format('truetype'); /* Replace with the correct path to the Montserrat regular font file */
  font-weight: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../public/EBGaramond-Bold.ttf') format('truetype'); /* Replace with the correct path to the Montserrat bold font file */
  font-weight: bold;
}

/* Define the Baskerville font face */
@font-face {
  font-family: 'Baskerville';
  src: url('../public/LibreBaskerville-Regular.ttf') format('truetype'); /* Replace with the correct path to the Montserrat regular font file */
  font-weight: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../public/LibreBaskerville-Bold.ttf') format('truetype'); /* Replace with the correct path to the Montserrat bold font file */
  font-weight: bold;
}

/* Add additional @font-face rules for other font styles/weights if necessary */

/* Apply Garamond as the default font for the entire document */

*{
  margin: 0;
  padding: 0;
  font-family: 'Baskerville', serif;
  box-sizing: border-box;
}



